<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="com.facebook.katana" />
    </queries>

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TaskManager"
        tools:targetApi="31">
        <activity
            android:name=".ui.task.ViewMember2"
            android:exported="false" />
        <activity
            android:name=".ui.login.ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ui.task.ChooseLeader"
            android:exported="false" />
        <activity
            android:name=".ui.task.Comment"
            android:exported="false" />
        <activity
            android:name=".ui.image.SetImage"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".ui.profile.Security"
            android:exported="false" />
        <activity
            android:name=".ui.home.ViewNotification"
            android:exported="false" />
        <activity
            android:name=".ui.member.ViewMember"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.Register" />
        <activity android:name=".ui.login.CompleteProfile" />
        <activity android:name=".ui.task.TaskDetail" />
        <activity android:name=".ui.task.AllTask" />
        <activity
            android:name=".ui.login.Login"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name=".ui.search.SearchView"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".ui.project.ProjectDetail" />
        <activity android:name=".ui.profile.MyProfile" />
        <activity android:name=".ui.profile.NotificationSetting" />
        <activity android:name=".ui.member.AddMember" />
    </application>

</manifest>